# Logs
logs
*.log
*.log.*

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules
.idea
.vscode
*.iml
### OSX
.DS_Store
.AppleDouble
.LSOverride
Icon

config/dreihouse-reports
